# Rust
/target/
**/*.rs.bk
Cargo.lock

# Node
node_modules/
dist/
*.log

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Server data
/server-data/
*.jar

# OS
.DS_Store
Thumbs.db

.fabric/processedMods/cardinal-components-chunk-5.2.3-338907b99ae90b71.jar
wowid3-server-data/
wowid3-server-data/*
wowid3-server/server/target/debug/
wowid3-server/server/target/debug/*
wowid3-launcher/src-tauri/Cargo.toml
wowid3-launcher/CLAUDE.md
wowid3-launcher/package-lock.json
wowid3-launcher/.claude/settings.local.json
wowid3-launcher/src-tauri/Cargo.toml
wowid3-server/eggs/fabric-server.json
wowid3-server/server/target/release/.fingerprint/*
wowid3-server/server/target/release/.fingerprint/
wowid3-server/server/target/release/build/*
wowid3-server/server/target/release/*
wowid3-launcher/src-tauri/game/*
wowid3-launcher/src-tauri/game/
wowid3-launcher/src-tauri/game/config/*
wowid3-launcher/src-tauri/game/config/

wowid3-launcher/src-tauri/game/config/make_bubbles_pop.json
wowid3-launcher/src-tauri/game/config/everycomp-common.json
