version: '3.8'

services:
  fabric-server-test:
    build:
      context: ./docker
      dockerfile: Dockerfile
    image: wowid3/fabric-server:test
    container_name: fabric-server-test
    environment:
      - SERVER_JARFILE=server.jar
      - SERVER_MEMORY=2048
      - MIN_MEMORY=2048
      - MAX_MEMORY=2048
    volumes:
      # Mount a test server directory
      - ./test-server:/home/container
    working_dir: /home/container
    stdin_open: true
    tty: true
    # Uncomment to expose Minecraft port
    # ports:
    #   - "25565:25565"
    # Keep container running for testing
    command: /bin/bash

